body {
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-family: 'Roboto Slab', serif;
  color: #00a79d;
  font-size: 24px;
  text-align: center;
  letter-spacing: .5px;
  padding-top: 10px;
}

h2 {
  font-family: 'Roboto Slab', serif;
  color: #6d6e71;
  font-size: 20px;
}

p {
  color: #939598;
}

li {
  border-bottom: 2px solid #d1d3d4;
  padding: 2px 0 2px 5px;
  margin: 0px 20px 0px 20px;
}

.input {
  background-color: #e5f3f2;
  padding-bottom: 10px;
}

.card-body {
  padding: 10px 0;
  line-height: 1.2em;
  font-stretch: expanded;
}

.quality {
  color: #6d6e71;
  font-size: 10px;
}

.card-delete {
  height: 20px;
  width: 20px;
  background-image:url('images/delete.svg');
  background-repeat: no-repeat;
  background-color: #ffffff;
  border: none;
  background-size: 20px 20px;
  background-position: center;
}

.card-delete:hover {
  background-image:url('images/delete-hover.svg');
}

.up-vote {
  height: 20px;
  width: 20px;
  background-image:url('images/upvote.svg');
  background-repeat: no-repeat;
  background-color: #ffffff;
  border: none;
  background-size: 20px 20px;
  background-position: center;
  margin: 3px;
}

.up-vote:hover {
  background-image:url('images/upvote-hover.svg');
}

.down-vote {
  height: 20px;
  width: 20px;
  background-image:url('images/downvote.svg');
  background-repeat: no-repeat;
  background-color: #ffffff;
  border: none;
  background-size: 20px 20px;
  background-position: center;
  margin: 3px;
}

.down-vote:hover {
  background-image:url('images/downvote-hover.svg');
}

.quality-level {
  color: #6d6e71;
  font-size: 12px;
  margin: 8px 0px 0px 8px;
}

#card-header {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

#card-footer {
  display: flex;
  margin-bottom: 5px;
}

#title, #body, #save, #search {
  display: block;
  margin: 10px auto;
  width: 75%;
}

#save {
  background-color: #00a79d;
  color: #ffffff;
  outline: 0px;
  height: 30px;
  width: 75.5%;
  border: none;
  font-size: 1.1em;
  padding: 0px;
}
#save:hover {
  background-color: #045e55;
}

#body {
  padding-bottom: 75px;
  resize: none;
  -webkit-appearance: textfield;
}

.up-vote, .down-vote, #title, #body, #search {
  outline: 0;
}

#box {
  color: #6d6e71;
}


::-webkit-input-placeholder {
  font-size: 1.1em;
  letter-spacing: 1px;
  padding-left: 3px;
}

[contenteditable="true"]:active, [contenteditable="true"]:focus {
  border: none;
  outline: none;
}

@media screen and (max-width: 299px) {
  .input {
    margin: auto;
  }
}

@media screen and (min-width: 300px) {
  li {
    padding: 2px 0 2px 5px;
    margin: 0px 20% 0px 20%;
  }
}

@media screen and (min-width: 600px) {
  #body {
    padding: 0px 2px 0px 2px;
    height: 19px;
    line-height: 19px;
  /*border: 2px solid gray;*/
  }
}
