body {
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-family: 'Roboto Slab', serif;
  color: #00a79d;
  font-size: 24px;
  text-align: center;
  letter-spacing: .5px;
}

h2 {
  font-family: 'Roboto Slab', serif;
  color: #6d6e71;
  font-size: 20px;
}

p {
  color: #939598;
}

li {
  border-bottom: 1px solid #d1d3d4;
}

.input {
  padding: 2%;
  background-color: #e5f3f2;
}

.card {
  width: 225px;
}

.quality {
  color: #6d6e71;
  font-size: 10px;

}

#title, #body, #save, #search {
  display: block;
  margin: 10px auto;
  width: 250px;
  padding: 2px;

}

#save {
  background-color: #00a79d;
  color: #ffffff;
  outline: 0px;
  padding: 0px;
  height: 30`px;
  width: 256px;
  border: none;
  font-size: 1.1em;
}
#save:hover {
  background-color: #045e55;
}

#body {
  padding-bottom: 75px;
  resize: none;
  -webkit-appearance: textfield;
}

#title, #body:focus {
  outline: 0;
}

#box {
  color: #6d6e71;
}


::-webkit-input-placeholder {
  font-size: 1.1em;
  letter-spacing: 1px;
  padding-left: 3px;
}
